<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center text-dark">Solving Problems with Technology</h1>

        </div>
    </div>
    <div class="parallax"><img src="img/background1.jpg" alt="Image by jrimufiles on Freepik"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Our Mission</h4>
                <p class="left-align light">Our mission is to provide simple, intuitive, and modern solutions to
                    problems
                    that
                    have been plaguing businesses for years. We strive to make the lives of employees and employers
                    easier
                    by
                    reducing the time and effort required to complete tasks and by providing a better user experience
                    than
                    the
                    competition. We are always looking to improve our products and services, and we are always looking
                    for
                    new
                    problems to solve.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row" id="projects">
            <div class="col s12 m6 icon-block">
                <h4>Current Production Apps</h4>
                <a href="https://timekeeper.site"> <img class="center-block" src="./img/timekeeperLogo.png"></a>
                <p class="light">TimeKeeper is our solution for getting timecards from employees to payroll in a few
                    clicks
                    as we can manage. With custom, automated reporting and nothing that doesn't need to be there, there
                    is
                    virtually no support
                    overhead and implementation takes minutes, not hours or days. Need a feature that isn't included?
                    We'll
                    build it
                    and slot it in for your instance!</p>
                <div class="center-align"><a href="https://timekeeper.site" class="waves-effect waves-light btn">Check
                        it
                        out!</a></div>
            </div>

            <div class="col s12 m6">
                <div class="icon-block">
                    <img class="center-block" src="./img/toolKeeperLogo-dark-full.png">
                    <p class="light">ToolKeeper, while perhaps uninspiring in name, is our first full-stack application
                        that
                        makes tracking
                        your tools and their history simple and intuitive. Customized reporting, and mobile-first
                        development
                        ensures that no matter
                        what device you're viewing your inventory, it's familiar and convenient.</p>
                    <div class="center-align"><a href="https://toolkeeper.ep.ado.software"
                            class="waves-effect waves-light btn">Check it
                            out!</a></div>
                </div>
            </div>

        </div>
    </div>
</div>

</div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h3 class="header col s12 light">Modern Problems Require Modern Solutions</h3>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/background3.webp" alt="Unsplashed background img 3"></div>
</div>



<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="cube-send brown-text"></i></h3>
                <h4>Contact Us</h4>
                <p class="center-align light">Reach out via email at info@ado.software</p>
            </div>
        </div>

    </div>
</div>



<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h3 class="header col s12 ">Let us manage your technology, <br>so you can focus on your business.</h3>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/background2.webp" alt="Unsplashed background img 2"></div>
</div>