<footer class="page-footer blue-grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Check Us Out On Social Media</h5>
        <ul>
          <li><a class="fas"></a><a class="white-text" href="https://github.com/DaveLuhman">Github</a></li>
          <li><a class="fas"></a><a href="./privacy" class="white-text"></a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</footer>